cifar-10-batches-py
env/
venv/
eurosat
FGVC_Aircraft
food-101
MNIST
VisDrone
Kodak
CLIP
output
runs
checkpoint*
*.tar
*.zip
.idea
.vscode/
__pycache__/*
*/__pycache__/*
archive_output/
__MACOSX/
prev_bash/
